body{
    width: 236px;
    height: 593px;
    background-color: #50384d;
    margin: 0%;
}
#left{
    float: left;
    height: 100%;
    width:30%;
    background-color:#50384d;
}
#right{
    margin-top: 0%;

    height: 100%;
    width: 40%;
    margin-left:50%;
    background-color:#50384d;
}

.li{
    list-style: none;
}
#chat{
    height: 584px;
    width: 1034px;
    border: 1px solid #ccc;
    overflow: auto;
    margin-left: 129px;
}
#msgSend{
    position: absolute;
    margin-left: 250px;}