<section class="container">
  <article class="channel-section">
    <h1 class="app-title">Ch@t Zilla</h1>
    <app-add-channel (addChannel)="addChannel($event)"></app-add-channel>
    <app-channel-list [list]="channelList" [selectedItem]="selectedChannel" (updateSelection)="onChannelSelection($event)"></app-channel-list>
  </article>
  <article class="chat-section">
    <div class="search-channel-section" (appClickOutside)="closeSearchChannelPanel()">
      <input type="text" placeholder="Search channel here" [(ngModel)]="channel" (keyup)="searchChannel(channel)" />
      <div class="search-channel-list-panel" *ngIf="searchChannelPanelDetails?.list?.length && searchChannelPanelDetails?.show">
        <ul>
          <li *ngFor="let channel of searchChannelPanelDetails?.list" (click)="onChannelSelectionFromSearchPanel(channel)">{{channel?.unique_name}}</li>
        </ul>
      </div>
    </div>
    <span class="error-msg">{{searchChannelPanelDetails?.infoMsg}}</span>
    <div class="join-channel-section" *ngIf="joinChannelDetails?.show">
      <span class="text">{{joinChannelDetails?.channel?.unique_name}}</span>
      <input type="button" class="" value="Join channel" (click)="onJoinChannel()">
      <input type="button" class="" value="Cancel" (click)="onCancelJoinChannel()">
    </div>
    <div class="message-section">
      <ul id="chatMessageList" class="message-list" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <li class="message" [ngClass]="{'from': message?.from === _chatService?.identity}" *ngFor="let message of messageSet;">
          <div class="content">
            <span class="user-name ">{{message?.userName}}</span>
            <p class="text ">{{message?.body}}</p>
          </div>
      </ul>
    </div>
    <div class="sending-section ">
      <input type="text " [(ngModel)]="message">
      <button (click)="sendMessage()" [disabled]="!selectedChannel">Send</button>
    </div>
  </article>
</section>