<!-- <button (click)="back()">
  Back
</button>
<button (click)="Authenticate()" disabled>Authenticate</button> -->

<section class="container">
  <article class="channel-section">
    <!-- <button (click)="joinChannel()">Join</button> -->

    <app-add-channel (addChannel)="addChannel($event)"></app-add-channel>
    <app-channel-list [list]="channelList" [selectedItem]="selectedChannel" (updateSelection)="onChannelSelection($event)"></app-channel-list>
  </article>
  <article class="chat-section">
    <div class="search-channel-section" (appClickOutside)="closeSearchChannelPanel()">
      <input type="text" placeholder="Search channel here" [(ngModel)]="channel" />
      <button (click)="searchChannel(channel)">Search</button>
      <div class="search-channel-list-panel" *ngIf="searchChannelPanelDetails.list.length && searchChannelPanelDetails?.show">
        <ul>
          <li *ngFor="let channel of searchChannelPanelDetails?.list" (click)="onChannelSelectionFromSearchPanel(channel)">{{channel?.unique_name}}</li>
        </ul>
      </div>
    </div>
    <span class="error-msg">{{searchChannelPanelDetails?.infoMsg}}</span>
    <div class="join-channel-section" *ngIf="joinChannelDetails?.show">
      <span>{{joinChannelDetails?.channel?.unique_name}}</span>
      <input type="button" class="" value="Join channel" (click)="onJoinChannel()">
      <input type="button" class="" value="Cancel" (click)="onCancelJoinChannel()">
    </div>
    <div class="message-section">
      <ul class="message-list">
        <li class="message" [ngClass]="{'from': message?.from === _chatService?.identity}" *ngFor="let message of messageSet;">
          <span class="user-name ">{{message?.userName}}</span>
          <p class="text ">{{message?.body}}</p>
      </ul>
    </div>
    <div class="sending-section ">
      <input type="text " [(ngModel)]="message " size=114>
      <button (click)="sendMessage() ">Send Message</button>
    </div>
  </article>
</section>