.container {
    display: flex;
    height: 100%;
    background-color: #50384d;
}

.app-title {
    font-size: 45px;
    margin: 20px 10px;
    color: #ffffff;
    text-align: center;
}

.channel-section {
    height: 100%;
    width: 30%;
    background-color: #50384d;
}

.chat-section {
    height: calc(100% - 20px);
    width: 70%;
    background-color: #ffffff;
    padding: 10px;
}

.chat-section .error-msg {
    color: red;
    font-size: 14px;
    position: absolute;
}

#channelname {
    margin-left: 90px;
}

.search-channel-section {
    position: relative;
    display: flex;
}

.search-channel-section input {
    width: calc(100% - 100px);
    font-size: 18px;
    font-style: italic;
}

.search-channel-section button {
    cursor: pointer;
    font-size: 18px;
    font-style: italic;
    background-color: coral;
    color: wheat;
}

.search-channel-list-panel {
    position: absolute;
    background-color: white;
    margin-top: 21px;
    width: calc(100% - 96px);
    border: 1px solid #ccc;
    z-index: 1;
}

.search-channel-list-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-channel-list-panel li {
    padding: 5px;
    cursor: pointer;
}

.search-channel-list-panel li:hover {
    background-color: #f5f5f5;
}

.join-channel-section {
    margin: 10px 0;
}

.join-channel-section .text {
    margin-right: 10px;
    color: #000000;
}

.join-channel-section input[type="button"] {
    background-color: coral;
    color: #ffffff;
    margin-right: 10px;
    cursor: pointer;
}

.message-section {
    background-color: #ffffff;
}

.message-list {
    list-style: none;
    padding: 0;
    overflow: auto;
    height: 500px;
    max-height: 500px;
}

.message-list .message {
    display: flex;
}

.message-list .message.from {
    flex-flow: row-reverse;
}

.message-list .content {
    flex-grow: 1;
    padding: 5px 10px;
    margin: 10px 0;
    background-color: #D34542;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    color: white;
    width: 350px;
    max-width: 450px;
}

.message-list .message.from .content {
    text-align: right;
    background-color: #777777;
}

.message-list .message .content .messageDateTime {
    text-align:right;
}

.message .user-name {
    font-weight: bold;
}

.message .text {
    margin: 5px 0;
    text-align: left;
}

.sending-section {
    display: flex;
}

.sending-section input {
    width: calc(100% - 100px);
    font-size: 20px;
    font-style: italic;
}

.sending-section button {
    font-size: 20px;
    font-style: italic;
    color: #ffffff;
    background-color: coral;
    cursor: pointer;
}