<!-- <button (click)="back()">
  Back
</button>
<button (click)="Authenticate()" disabled>Authenticate</button> -->
<body>
<div id="left">
  <input type="text" placeholder="Search Channel here" [(ngModel)]="channel" /><br />
  <button (click)="searchChannel()">Search</button>
  <br />{{foundChannel}}<br />
  <button (click)="joinChannel()">Join</button>
  <br/>
  <input type="text" placeholder="Enter Channel Name" [(ngModel)]="newChannel" />
  <button (click)="addChannel()">+</button>
</div>


<div id="right">

            <div id="chat">
              <ul *ngFor="let message of Messagesset">
                <span >{{message}}</span>
              </ul>         
            </div>
            <div id="message">
              <div id="messageField">
                <div id="msgSend">
                  <input type="text" [(ngModel)]="myMessage">
                  <button (click)="sendMessage()">Send Message</button>
                </div>
              </div>  
            </div>
</div>
</body>