.add-channel {
    margin: 20px 10px;
}

input {
    font-size: 18px;
    font-style: italic;
}

input[type="button"] {
    color: white;
    background: coral;
    cursor: pointer;
}

/* .logout-section{

} */

.logout {
    float: right;
    margin-right: 2px;
    margin-bottom: 5vh;
}

button:hover {
    border: none;
    color: #4D394B;
    background-color: #AB9BA9;
}

input[type="button"] {
    color: white;
    background: coral;
    cursor: pointer;
}