.channel-list-section {
    margin: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

li.active,
li:hover {
    color: wheat;
    font-size: 20px;
}